.dataimg-advantage {background-image: url("../fonts/advantage.svg"); background-repeat: no-repeat;}

.dataimg-alpine-skiing {background-image: url("../fonts/alpine-skiing.svg"); background-repeat: no-repeat;}

.dataimg-approved {background-image: url("../fonts/approved.svg"); background-repeat: no-repeat;}

.dataimg-appstore-cz {background-image: url("../fonts/appstore-cz.svg"); background-repeat: no-repeat;}

.dataimg-appstore-en {background-image: url("../fonts/appstore-en.svg"); background-repeat: no-repeat;}

.dataimg-appstore {background-image: url("../fonts/appstore.svg"); background-repeat: no-repeat;}

.dataimg-arrow-circle-left {background-image: url("../fonts/arrow-circle-left.svg"); background-repeat: no-repeat;}

.dataimg-arrow-circle-right {background-image: url("../fonts/arrow-circle-right.svg"); background-repeat: no-repeat;}

.dataimg-arrow-double-right {background-image: url("../fonts/arrow-double-right.svg"); background-repeat: no-repeat;}

.dataimg-arrow-down-superlife-black {background-image: url("../fonts/arrow-down-superlife-black.svg"); background-repeat: no-repeat;}

.dataimg-arrow-down {background-image: url("../fonts/arrow-down.svg"); background-repeat: no-repeat;}

.dataimg-arrow-green-left {background-image: url("../fonts/arrow-green-left.svg"); background-repeat: no-repeat;}

.dataimg-arrow-green-right {background-image: url("../fonts/arrow-green-right.svg"); background-repeat: no-repeat;}

.dataimg-arrow-light-left {background-image: url("../fonts/arrow-light-left.svg"); background-repeat: no-repeat;}

.dataimg-arrow-light-right {background-image: url("../fonts/arrow-light-right.svg"); background-repeat: no-repeat;}

.dataimg-arrow-right-superlife-red {background-image: url("../fonts/arrow-right-superlife-red.svg"); background-repeat: no-repeat;}

.dataimg-arrow-right {background-image: url("../fonts/arrow-right.svg"); background-repeat: no-repeat;}

.dataimg-arrow-vip-down {background-image: url("../fonts/arrow-vip-down.svg"); background-repeat: no-repeat;}

.dataimg-arrow-vip-up {background-image: url("../fonts/arrow-vip-up.svg"); background-repeat: no-repeat;}

.dataimg-athletics {background-image: url("../fonts/athletics.svg"); background-repeat: no-repeat;}

.dataimg-basketball {background-image: url("../fonts/basketball.svg"); background-repeat: no-repeat;}

.dataimg-biatlon {background-image: url("../fonts/biatlon.svg"); background-repeat: no-repeat;}

.dataimg-box {background-image: url("../fonts/box.svg"); background-repeat: no-repeat;}

.dataimg-branka {background-image: url("../fonts/branka.svg"); background-repeat: no-repeat;}

.dataimg-bronze {background-image: url("../fonts/bronze.svg"); background-repeat: no-repeat;}

.dataimg-ceremony {background-image: url("../fonts/ceremony.svg"); background-repeat: no-repeat;}

.dataimg-circle-head-active {background-image: url("../fonts/circle-head-active.svg"); background-repeat: no-repeat;}

.dataimg-circle-head-grey {background-image: url("../fonts/circle-head-grey.svg"); background-repeat: no-repeat;}

.dataimg-circle-head {background-image: url("../fonts/circle-head.svg"); background-repeat: no-repeat;}

.dataimg-circle-info {background-image: url("../fonts/circle-info.svg"); background-repeat: no-repeat;}

.dataimg-classic-skiing {background-image: url("../fonts/classic-skiing.svg"); background-repeat: no-repeat;}

.dataimg-comment {background-image: url("../fonts/comment.svg"); background-repeat: no-repeat;}

.dataimg-comments {background-image: url("../fonts/comments.svg"); background-repeat: no-repeat;}

.dataimg-cross {background-image: url("../fonts/cross.svg"); background-repeat: no-repeat;}

.dataimg-cycling {background-image: url("../fonts/cycling.svg"); background-repeat: no-repeat;}

.dataimg-czech_flag {background-image: url("../fonts/czech_flag.svg"); background-repeat: no-repeat;}

.dataimg-derby {background-image: url("../fonts/derby.svg"); background-repeat: no-repeat;}

.dataimg-desktop {background-image: url("../fonts/desktop.svg"); background-repeat: no-repeat;}

.dataimg-download-icon {background-image: url("../fonts/download-icon.svg"); background-repeat: no-repeat;}

.dataimg-email-icon-black {background-image: url("../fonts/email-icon-black.svg"); background-repeat: no-repeat;}

.dataimg-email-icon {background-image: url("../fonts/email-icon.svg"); background-repeat: no-repeat;}

.dataimg-facebook-black-2 {background-image: url("../fonts/facebook-black-2.svg"); background-repeat: no-repeat;}

.dataimg-facebook-white-2 {background-image: url("../fonts/facebook-white-2.svg"); background-repeat: no-repeat;}

.dataimg-facebook-white {background-image: url("../fonts/facebook-white.svg"); background-repeat: no-repeat;}

.dataimg-facebook {background-image: url("../fonts/facebook.svg"); background-repeat: no-repeat;}

.dataimg-fb-square {background-image: url("../fonts/fb-square.svg"); background-repeat: no-repeat;}

.dataimg-fb-white {background-image: url("../fonts/fb-white.svg"); background-repeat: no-repeat;}

.dataimg-floorball {background-image: url("../fonts/floorball.svg"); background-repeat: no-repeat;}

.dataimg-football-small {background-image: url("../fonts/football-small.svg"); background-repeat: no-repeat;}

.dataimg-football {background-image: url("../fonts/football.svg"); background-repeat: no-repeat;}

.dataimg-arrow-down-black {background-image: url("../fonts/arrow-down-black.svg"); background-repeat: no-repeat;}

.dataimg-attention {background-image: url("../fonts/attention.svg"); background-repeat: no-repeat;}

.dataimg-avatar {background-image: url("../fonts/avatar.svg"); background-repeat: no-repeat;}

.dataimg-bubble {background-image: url("../fonts/bubble.svg"); background-repeat: no-repeat;}

.dataimg-clap-hover {background-image: url("../fonts/clap-hover.svg"); background-repeat: no-repeat;}

.dataimg-clap-pressed {background-image: url("../fonts/clap-pressed.svg"); background-repeat: no-repeat;}

.dataimg-clap {background-image: url("../fonts/clap.svg"); background-repeat: no-repeat;}

.dataimg-editor-selection-hover {background-image: url("../fonts/editor-selection-hover.svg"); background-repeat: no-repeat;}

.dataimg-editor-selection-pressed {background-image: url("../fonts/editor-selection-pressed.svg"); background-repeat: no-repeat;}

.dataimg-editor-selection {background-image: url("../fonts/editor-selection.svg"); background-repeat: no-repeat;}

.dataimg-author-editor {background-image: url("../fonts/author-editor.svg"); background-repeat: no-repeat;}

.dataimg-author-editor {background-image: url("../fonts/author-editor.svg"); background-repeat: no-repeat;}

.dataimg-reply {background-image: url("../fonts/reply.svg"); background-repeat: no-repeat;}

.dataimg-three-dots {background-image: url("../fonts/three-dots.svg"); background-repeat: no-repeat;}

.dataimg-futsal {background-image: url("../fonts/futsal.svg"); background-repeat: no-repeat;}

.dataimg-gold {background-image: url("../fonts/gold.svg"); background-repeat: no-repeat;}

.dataimg-google-play-cz {background-image: url("../fonts/google-play-cz.svg"); background-repeat: no-repeat;}

.dataimg-google-play-en {background-image: url("../fonts/google-play-en.svg"); background-repeat: no-repeat;}

.dataimg-google-play {background-image: url("../fonts/google-play.svg"); background-repeat: no-repeat;}

.dataimg-handball {background-image: url("../fonts/handball.svg"); background-repeat: no-repeat;}

.dataimg-header-logo-superlife {background-image: url("../fonts/header-logo-superlife.svg"); background-repeat: no-repeat;}

.dataimg-hockey-small {background-image: url("../fonts/hockey-small.svg"); background-repeat: no-repeat;}

.dataimg-hockey {background-image: url("../fonts/hockey.svg"); background-repeat: no-repeat;}

.dataimg-icon-play {background-image: url("../fonts/icon-play.svg"); background-repeat: no-repeat;}

.dataimg-icon-premium-gopay {background-image: url("../fonts/icon-premium-gopay.svg"); background-repeat: no-repeat;}

.dataimg-icon-premium-large {background-image: url("../fonts/icon-premium-large.svg"); background-repeat: no-repeat;}

.dataimg-icon-premium-master-card {background-image: url("../fonts/icon-premium-master-card.svg"); background-repeat: no-repeat;}

.dataimg-icon-premium-sms {background-image: url("../fonts/icon-premium-sms.svg"); background-repeat: no-repeat;}

.dataimg-icon-premium-visa {background-image: url("../fonts/icon-premium-visa.svg"); background-repeat: no-repeat;}

.dataimg-indent {background-image: url("../fonts/indent.svg"); background-repeat: no-repeat;}

.dataimg-instagram-3 {background-image: url("../fonts/instagram-3.svg"); background-repeat: no-repeat;}

.dataimg-instagram-black {background-image: url("../fonts/instagram-black.svg"); background-repeat: no-repeat;}

.dataimg-instagram-social-box {background-image: url("../fonts/instagram-social-box.svg"); background-repeat: no-repeat;}

.dataimg-isport-premium-choice-mobile {background-image: url("../fonts/isport-premium-choice-mobile.svg"); background-repeat: no-repeat;}

.dataimg-isport-premium-choice {background-image: url("../fonts/isport-premium-choice.svg"); background-repeat: no-repeat;}

.dataimg-isport-premium-welcome {background-image: url("../fonts/isport-premium-welcome.svg"); background-repeat: no-repeat;}

.dataimg-isport-premium {background-image: url("../fonts/isport-premium.svg"); background-repeat: no-repeat;}

.dataimg-isportlife-logo {background-image: url("../fonts/isportlife-logo.svg"); background-repeat: no-repeat;}

.dataimg-karta_plna {background-image: url("../fonts/karta_plna.svg"); background-repeat: no-repeat;}

.dataimg-karta {background-image: url("../fonts/karta.svg"); background-repeat: no-repeat;}

.dataimg-loading {background-image: url("../fonts/loading.svg"); background-repeat: no-repeat;}

.dataimg-lock {background-image: url("../fonts/lock.svg"); background-repeat: no-repeat;}

.dataimg-logo-blesk-white {background-image: url("../fonts/logo-blesk-white.svg"); background-repeat: no-repeat;}

.dataimg-logo-blesk {background-image: url("../fonts/logo-blesk.svg"); background-repeat: no-repeat;}

.dataimg-logo-bleskmobil {background-image: url("../fonts/logo-bleskmobil.svg"); background-repeat: no-repeat;}

.dataimg-logo-budik-isportlife {background-image: url("../fonts/logo-budik-isportlife.svg"); background-repeat: no-repeat;}

.dataimg-logo-champions-league {background-image: url("../fonts/logo-champions-league.svg"); background-repeat: no-repeat;}

.dataimg-logo-columbia-zavody {background-image: url("../fonts/logo-columbia-zavody.svg"); background-repeat: no-repeat;}

.dataimg-logo-elh {background-image: url("../fonts/logo-elh.svg"); background-repeat: no-repeat;}

.dataimg-logo-fortuna-liga {background-image: url("../fonts/logo-fortuna-liga.svg"); background-repeat: no-repeat;}

.dataimg-logo-isport-white {background-image: url("../fonts/logo-isport-white.svg"); background-repeat: no-repeat;}

.dataimg-logo-isport {background-image: url("../fonts/logo-isport.svg"); background-repeat: no-repeat;}

.dataimg-logo-premium {background-image: url("../fonts/logo-premium.svg"); background-repeat: no-repeat;}

.dataimg-logo-zavody-columbia-row {background-image: url("../fonts/logo-zavody-columbia-row.svg"); background-repeat: no-repeat;}

.dataimg-logo-zavody-columbia-white {background-image: url("../fonts/logo-zavody-columbia-white.svg"); background-repeat: no-repeat;}

.dataimg-logo-zavody-columbia {background-image: url("../fonts/logo-zavody-columbia.svg"); background-repeat: no-repeat;}

.dataimg-logo-zavody {background-image: url("../fonts/logo-zavody.svg"); background-repeat: no-repeat;}

.dataimg-magnifier-cross {background-image: url("../fonts/magnifier-cross.svg"); background-repeat: no-repeat;}

.dataimg-magnifier {background-image: url("../fonts/magnifier.svg"); background-repeat: no-repeat;}

.dataimg-match-goal {background-image: url("../fonts/match-goal.svg"); background-repeat: no-repeat;}

.dataimg-match-menu-stopwatch {background-image: url("../fonts/match-menu-stopwatch.svg"); background-repeat: no-repeat;}

.dataimg-match-notice {background-image: url("../fonts/match-notice.svg"); background-repeat: no-repeat;}

.dataimg-match-red-card {background-image: url("../fonts/match-red-card.svg"); background-repeat: no-repeat;}

.dataimg-match-subs {background-image: url("../fonts/match-subs.svg"); background-repeat: no-repeat;}

.dataimg-match-whistle {background-image: url("../fonts/match-whistle.svg"); background-repeat: no-repeat;}

.dataimg-match-yellow-card {background-image: url("../fonts/match-yellow-card.svg"); background-repeat: no-repeat;}

.dataimg-medal-blue {background-image: url("../fonts/medal-blue.svg"); background-repeat: no-repeat;}

.dataimg-medal-green {background-image: url("../fonts/medal-green.svg"); background-repeat: no-repeat;}

.dataimg-medal-red {background-image: url("../fonts/medal-red.svg"); background-repeat: no-repeat;}

.dataimg-medal-white {background-image: url("../fonts/medal-white.svg"); background-repeat: no-repeat;}

.dataimg-menu-stopwatch {background-image: url("../fonts/menu-stopwatch.svg"); background-repeat: no-repeat;}

.dataimg-messenger {background-image: url("../fonts/messenger.svg"); background-repeat: no-repeat;}

.dataimg-mobil {background-image: url("../fonts/mobil.svg"); background-repeat: no-repeat;}

.dataimg-motosport {background-image: url("../fonts/motosport.svg"); background-repeat: no-repeat;}

.dataimg-pistalka {background-image: url("../fonts/pistalka.svg"); background-repeat: no-repeat;}

.dataimg-play-vip {background-image: url("../fonts/play-vip.svg"); background-repeat: no-repeat;}

.dataimg-play {background-image: url("../fonts/play_1.svg"); background-repeat: no-repeat;}

.dataimg-premium-2 {background-image: url("../fonts/premium-2.svg"); background-repeat: no-repeat;}

.dataimg-promo-superlife-logo-white {background-image: url("../fonts/promo-superlife-logo-white.svg"); background-repeat: no-repeat;}

.dataimg-ragby {background-image: url("../fonts/ragby.svg"); background-repeat: no-repeat;}

.dataimg-search {background-image: url("../fonts/search.svg"); background-repeat: no-repeat;}

.dataimg-silver {background-image: url("../fonts/silver.svg"); background-repeat: no-repeat;}

.dataimg-ski-jumping {background-image: url("../fonts/ski-jumping.svg"); background-repeat: no-repeat;}

.dataimg-star {background-image: url("../fonts/star.svg"); background-repeat: no-repeat;}

.dataimg-star2 {background-image: url("../fonts/star2.svg"); background-repeat: no-repeat;}

.dataimg-stridani {background-image: url("../fonts/stridani.svg"); background-repeat: no-repeat;}

.dataimg-superlife-icon {background-image: url("../fonts/superlife-icon.svg"); background-repeat: no-repeat;}

.dataimg-superlife-logo-menu {background-image: url("../fonts/superlife-logo-menu.svg"); background-repeat: no-repeat;}

.dataimg-superlife-logo {background-image: url("../fonts/superlife-logo.svg"); background-repeat: no-repeat;}

.dataimg-superlife-text {background-image: url("../fonts/superlife-text.svg"); background-repeat: no-repeat;}

.dataimg-superlife-zavody-columbia-logo {background-image: url("../fonts/superlife-zavody-columbia-logo.svg"); background-repeat: no-repeat;}

.dataimg-superlife-zavody-logo {background-image: url("../fonts/superlife-zavody-logo.svg"); background-repeat: no-repeat;}

.dataimg-arrow-white {background-image: url("../fonts/arrow-white.svg"); background-repeat: no-repeat;}

.dataimg-calendar-green {background-image: url("../fonts/calendar-green.svg"); background-repeat: no-repeat;}

.dataimg-calendar {background-image: url("../fonts/calendar.svg"); background-repeat: no-repeat;}

.dataimg-children-green {background-image: url("../fonts/children-green.svg"); background-repeat: no-repeat;}

.dataimg-elevation-green {background-image: url("../fonts/elevation-green.svg"); background-repeat: no-repeat;}

.dataimg-elevation-white {background-image: url("../fonts/elevation-white.svg"); background-repeat: no-repeat;}

.dataimg-family-green {background-image: url("../fonts/family-green.svg"); background-repeat: no-repeat;}

.dataimg-family-only-white {background-image: url("../fonts/family-only-white.svg"); background-repeat: no-repeat;}

.dataimg-family-white {background-image: url("../fonts/family-white.svg"); background-repeat: no-repeat;}

.dataimg-fb-share-white {background-image: url("../fonts/fb-share-white.svg"); background-repeat: no-repeat;}

.dataimg-fee-green {background-image: url("../fonts/fee-green.svg"); background-repeat: no-repeat;}

.dataimg-fee-only-white {background-image: url("../fonts/fee-only-white.svg"); background-repeat: no-repeat;}

.dataimg-fee-white {background-image: url("../fonts/fee-white.svg"); background-repeat: no-repeat;}

.dataimg-info-green {background-image: url("../fonts/info-green.svg"); background-repeat: no-repeat;}

.dataimg-info-only-white {background-image: url("../fonts/info-only-white.svg"); background-repeat: no-repeat;}

.dataimg-instagram-color {background-image: url("../fonts/instagram-color.svg"); background-repeat: no-repeat;}

.dataimg-instagram-white {background-image: url("../fonts/instagram-white.svg"); background-repeat: no-repeat;}

.dataimg-mail-green {background-image: url("../fonts/mail-green.svg"); background-repeat: no-repeat;}

.dataimg-present {background-image: url("../fonts/present.svg"); background-repeat: no-repeat;}

.dataimg-route-green {background-image: url("../fonts/route-green.svg"); background-repeat: no-repeat;}

.dataimg-route-only-white {background-image: url("../fonts/route-only-white.svg"); background-repeat: no-repeat;}

.dataimg-route-white {background-image: url("../fonts/route-white.svg"); background-repeat: no-repeat;}

.dataimg-share-white {background-image: url("../fonts/share-white.svg"); background-repeat: no-repeat;}

.dataimg-stage {background-image: url("../fonts/stage.svg"); background-repeat: no-repeat;}

.dataimg-star-1 {background-image: url("../fonts/star-1.svg"); background-repeat: no-repeat;}

.dataimg-star-2 {background-image: url("../fonts/star-2.svg"); background-repeat: no-repeat;}

.dataimg-star-3 {background-image: url("../fonts/star-3.svg"); background-repeat: no-repeat;}

.dataimg-start {background-image: url("../fonts/start.svg"); background-repeat: no-repeat;}

.dataimg-video-icon-black {background-image: url("../fonts/video-icon-black.svg"); background-repeat: no-repeat;}

.dataimg-video {background-image: url("../fonts/video.svg"); background-repeat: no-repeat;}

.dataimg-survey {background-image: url("../fonts/survey.svg"); background-repeat: no-repeat;}

.dataimg-teamlogo-placeholder {background-image: url("../fonts/teamlogo-placeholder.svg"); background-repeat: no-repeat;}

.dataimg-tennis-ball {background-image: url("../fonts/tennis-ball.svg"); background-repeat: no-repeat;}

.dataimg-tennis-small {background-image: url("../fonts/tennis-small.svg"); background-repeat: no-repeat;}

.dataimg-tennis {background-image: url("../fonts/tennis.svg"); background-repeat: no-repeat;}

.dataimg-trophy {background-image: url("../fonts/trophy.svg"); background-repeat: no-repeat;}

.dataimg-tv {background-image: url("../fonts/tv.svg"); background-repeat: no-repeat;}

.dataimg-twitter-3 {background-image: url("../fonts/twitter-3.svg"); background-repeat: no-repeat;}

.dataimg-twitter-black {background-image: url("../fonts/twitter-black.svg"); background-repeat: no-repeat;}

.dataimg-twitter-white {background-image: url("../fonts/twitter-white.svg"); background-repeat: no-repeat;}

.dataimg-twitter {background-image: url("../fonts/twitter.svg"); background-repeat: no-repeat;}

.dataimg-upozorneni {background-image: url("../fonts/upozorneni.svg"); background-repeat: no-repeat;}

.dataimg-viber {background-image: url("../fonts/viber.svg"); background-repeat: no-repeat;}

.dataimg-VIP-logo-white {background-image: url("../fonts/VIP-logo-white.svg"); background-repeat: no-repeat;}

.dataimg-VIP-logo {background-image: url("../fonts/VIP-logo.svg"); background-repeat: no-repeat;}

.dataimg-volleyball {background-image: url("../fonts/volleyball.svg"); background-repeat: no-repeat;}

.dataimg-whatsapp {background-image: url("../fonts/whatsapp.svg"); background-repeat: no-repeat;}

.dataimg-zamek {background-image: url("../fonts/zamek.svg"); background-repeat: no-repeat;}

.dataimg-zoh-akrobaticke-lyzovani {background-image: url("../fonts/zoh-akrobaticke-lyzovani.svg"); background-repeat: no-repeat;}

.dataimg-zoh-alpske-lyzovani {background-image: url("../fonts/zoh-alpske-lyzovani.svg"); background-repeat: no-repeat;}

.dataimg-zoh-beh-na-lyzich {background-image: url("../fonts/zoh-beh-na-lyzich.svg"); background-repeat: no-repeat;}

.dataimg-zoh-biatlon {background-image: url("../fonts/zoh-biatlon.svg"); background-repeat: no-repeat;}

.dataimg-zoh-boby {background-image: url("../fonts/zoh-boby.svg"); background-repeat: no-repeat;}

.dataimg-zoh-ceremonial {background-image: url("../fonts/zoh-ceremonial.svg"); background-repeat: no-repeat;}

.dataimg-zoh-curling {background-image: url("../fonts/zoh-curling.svg"); background-repeat: no-repeat;}

.dataimg-zoh-hokej {background-image: url("../fonts/zoh-hokej.svg"); background-repeat: no-repeat;}

.dataimg-zoh-krasobrusleni {background-image: url("../fonts/zoh-krasobrusleni.svg"); background-repeat: no-repeat;}

.dataimg-zoh-rychlobrusleni {background-image: url("../fonts/zoh-rychlobrusleni.svg"); background-repeat: no-repeat;}

.dataimg-zoh-sane {background-image: url("../fonts/zoh-sane.svg"); background-repeat: no-repeat;}

.dataimg-zoh-severska-kombinace {background-image: url("../fonts/zoh-severska-kombinace.svg"); background-repeat: no-repeat;}

.dataimg-zoh-short-track {background-image: url("../fonts/zoh-short-track.svg"); background-repeat: no-repeat;}

.dataimg-zoh-skeleton {background-image: url("../fonts/zoh-skeleton.svg"); background-repeat: no-repeat;}

.dataimg-zoh-skoky-na-lyzich {background-image: url("../fonts/zoh-skoky-na-lyzich.svg"); background-repeat: no-repeat;}

.dataimg-scissors {background-image: url("../fonts/scissors.svg"); background-repeat: no-repeat;}

.dataimg-zoh-snowboarding {background-image: url("../fonts/zoh-snowboarding.svg"); background-repeat: no-repeat;}

.dataimg-blesksport-flag-blesk {background-image: url("../fonts/flag-circle-blesk.svg"); background-repeat: no-repeat;}

.dataimg-blesksport-flag-isport {background-image: url("../fonts/flag-circle-isport.svg"); background-repeat: no-repeat;}

.dataimg-e-mail {background-image: url("../fonts/email-icon.svg"); background-repeat: no-repeat;}

.dataimg-tokio-2020-sport-ceremonial {background: url("../fonts/tokio-2020-ceremonialy.svg"); background-repeat: no-repeat;}

.dataimg-tokio-2020-sport-athletics {background: url("../fonts/tokio-2020-sport-atletika.svg"); background-repeat: no-repeat;}

.dataimg-tokio-2020-sport-badminton {background: url("../fonts/tokio-2020-sport-badminton.svg"); background-repeat: no-repeat;}

.dataimg-tokio-2020-sport-basketbal {background: url("../fonts/tokio-2020-sport-basketbal.svg"); background-repeat: no-repeat;}

.dataimg-tokio-2020-sport-cycling-bmx {background: url("../fonts/tokio-2020-sport-bikros-bmx.svg"); background-repeat: no-repeat;}

.dataimg-tokio-2020-sport-baseball {background: url("../fonts/tokio-2020-sport-baseball.svg"); background-repeat: no-repeat;}

.dataimg-tokio-2020-sport-boxing {background: url("../fonts/tokio-2020-sport-box.svg"); background-repeat: no-repeat;}

.dataimg-tokio-2020-sport-cycling-track {background: url("../fonts/tokio-2020-sport-drahova-cyklistika.svg"); background-repeat: no-repeat;}

.dataimg-tokio-2020-sport-football {background: url("../fonts/tokio-2020-sport-fotbal.svg"); background-repeat: no-repeat;}

.dataimg-tokio-2020-sport-golf {background: url("../fonts/tokio-2020-sport-golf.svg"); background-repeat: no-repeat;}

.dataimg-tokio-2020-sport-handball {background: url("../fonts/tokio-2020-sport-hazena.svg"); background-repeat: no-repeat;}

.dataimg-tokio-2020-sport-horse-eventing {background: url("../fonts/tokio-2020-sport-horska-kola.svg"); background-repeat: no-repeat;}

.dataimg-tokio-2020-sport-sailing {background: url("../fonts/tokio-2020-sport-jachting.svg"); background-repeat: no-repeat;}

.dataimg-tokio-2020-sport-horse-jumping {background: url("../fonts/tokio-2020-sport-jezdectvi.svg"); background-repeat: no-repeat;}

.dataimg-tokio-2020-sport-judo {background: url("../fonts/tokio-2020-sport-judo.svg"); background-repeat: no-repeat;}

.dataimg-tokio-2020-sport-karate {background: url("../fonts/tokio-2020-sport-karate.svg"); background-repeat: no-repeat;}

.dataimg-tokio-2020-sport-archery {background: url("../fonts/tokio-2020-sport-lukostrelba.svg"); background-repeat: no-repeat;}

.dataimg-tokio-2020-sport-gymnastics-rhytmic {background: url("../fonts/tokio-2020-sport-moderni-gymnastika.svg"); background-repeat: no-repeat;}

.dataimg-tokio-2020-sport-modern-pentathlon {background: url("../fonts/tokio-2020-sport-moderni-petiboj.svg"); background-repeat: no-repeat;}

.dataimg-tokio-2020-sport-swimming {background: url("../fonts/tokio-2020-sport-plavani.svg"); background-repeat: no-repeat;}

.dataimg-tokio-2020-sport-beach-volley {background: url("../fonts/tokio-2020-sport-plazovy-volejbal.svg"); background-repeat: no-repeat;}

.dataimg-tokio-2020-sport-field-hockey {background: url("../fonts/tokio-2020-sport-pozemni-hokej.svg"); background-repeat: no-repeat;}

.dataimg-tokio-2020-sport-rugby-sevens {background: url("../fonts/tokio-2020-sport-ragby.svg"); background-repeat: no-repeat;}

.dataimg-tokio-2020-sport-canoe-sprint {background: url("../fonts/tokio-2020-sport-rychlostni-kanoistika.svg"); background-repeat: no-repeat;}

.dataimg-tokio-2020-sport-fencing {background: url("../fonts/tokio-2020-sport-serm.svg"); background-repeat: no-repeat;}

.dataimg-tokio-2020-sport-cycling-road {background: url("../fonts/tokio-2020-sport-silnicni-cyklistika.svg"); background-repeat: no-repeat;}

.dataimg-tokio-2020-sport-skateboarding {background: url("../fonts/tokio-2020-sport-skateboarding.svg"); background-repeat: no-repeat;}

.dataimg-tokio-2020-sport-gymnastics-artistic {background: url("../fonts/tokio-2020-sport-skoky-do-vody.svg"); background-repeat: no-repeat;}

.dataimg-tokio-2020-sport-softball {background: url("../fonts/tokio-2020-sport-softball.svg"); background-repeat: no-repeat;}

.dataimg-tokio-2020-sport-sport-gymnastics-rhytmic {background: url("../fonts/tokio-2020-sport-sportovni-gymnastika.svg"); background-repeat: no-repeat;}

.dataimg-tokio-2020-sport-sportovni-lezeni {background: url("../fonts/tokio-2020-sport-sportovni-lezeni.svg"); background-repeat: no-repeat;}

.dataimg-tokio-2020-sport-sport-shooting {background: url("../fonts/tokio-2020-sport-sportovni-strelba.svg"); background-repeat: no-repeat;}

.dataimg-tokio-2020-sport-tennis-table {background: url("../fonts/tokio-2020-sport-stolni-tenis.svg"); background-repeat: no-repeat;}

.dataimg-tokio-2020-sport-surfing {background: url("../fonts/tokio-2020-sport-surfing.svg"); background-repeat: no-repeat;}

.dataimg-tokio-2020-sport-swimming-synchronized {background: url("../fonts/tokio-2020-sport-synchronizovane-plavani.svg"); background-repeat: no-repeat;}

.dataimg-tokio-2020-sport-taekwondo {background: url("../fonts/tokio-2020-sport-taekwondo.svg"); background-repeat: no-repeat;}

.dataimg-tokio-2020-sport-tennis {background: url("../fonts/tokio-2020-sport-tenis.svg"); background-repeat: no-repeat;}

.dataimg-tokio-2020-sport-triathlon {background: url("../fonts/tokio-2020-sport-triatlon.svg"); background-repeat: no-repeat;}

.dataimg-tokio-2020-sport-rowing {background: url("../fonts/tokio-2020-sport-veslovani.svg"); background-repeat: no-repeat;}

.dataimg-tokio-2020-sport-water-polo {background: url("../fonts/tokio-2020-sport-vodni-polo.svg"); background-repeat: no-repeat;}

.dataimg-tokio-2020-sport-canoe-slalom {background: url("../fonts/tokio-2020-sport-vodni-slalom.svg"); background-repeat: no-repeat;}

.dataimg-tokio-2020-sport-volleyball {background: url("../fonts/tokio-2020-sport-volejbal.svg"); background-repeat: no-repeat;}

.dataimg-tokio-2020-sport-weightlifting {background: url("../fonts/tokio-2020-sport-vzpirani.svg"); background-repeat: no-repeat;}

.dataimg-tokio-2020-sport-wrestling {background: url("../fonts/tokio-2020-sport-zapas.svg"); background-repeat: no-repeat;}

.dataimg-tokio-2020-sport-jumps-on-trampoline {background: url("../fonts/tokio-2020-sport-skoky-na-trampoline.svg"); background-repeat: no-repeat;}

.dataimg-arrow-left-gold {background: url("../fonts/arrow-left-gold.svg"); background-repeat: no-repeat;}

.dataimg-arrow-right-gold {background: url("../fonts/arrow-right-gold.svg"); background-repeat: no-repeat;}

.dataimg-medal-gold {background: url("../fonts/medal-gold.svg"); background-repeat: no-repeat;}

.dataimg-medal-red-2 {background: url("../fonts/medal-red-2.svg"); background-repeat: no-repeat;}

.dataimg-dot-gold {background: url("../fonts/dot-golden.svg"); background-repeat: no-repeat;}

.dataimg-dot-red {background: url("../fonts/dot-red.svg"); background-repeat: no-repeat;}
