.icon-logo-bundesliga {background: url("../images/logo-bundesliga.png") no-repeat; height: 41px; width: 40px;} 

.icon-facebook-logo-blue {background: url("../images/facebook-logo-blue.png") no-repeat; height: 15px; width: 15px;} 

.icon-flag-cze {background: url("../images/flag-cze.png") no-repeat; height: 11px; width: 16px;} 

.icon-logo-1-liga {background: url("../images/logo-1-liga.png") no-repeat; height: 69px; width: 91px;} 

.icon-logo-elh-nopromo {background: url("../images/logo-elh-nopromo.png") no-repeat; height: 49px; width: 49px;} 

.icon-logo-elh-tipsport {background: url("../images/logo-elh-tipsport.png") no-repeat; height: 55px; width: 57px;} 

.icon-logo-ep-liga-small {background: url("../images/logo-ep-liga-small.png") no-repeat; height: 28px; width: 15px;} 

.icon-logo-ep-liga {background: url("../images/logo-ep-liga.png") no-repeat; height: 55px; width: 30px;} 

.icon-logo-elh {background: url("../images/logo-elh.png") no-repeat; height: 71px; width: 48px;} 

.icon-logo-euro-2016 {background: url("../images/logo-euro-2016.png") no-repeat; height: 68px; width: 68px;} 

.icon-logo-digi {background: url("../images/logo-digi.png") no-repeat; height: 29px; width: 43px;} 

.icon-logo-fantasy {background: url("../images/logo-fantasy.png") no-repeat; height: 75px; width: 84px;} 

.icon-logo-goly-z-ligy {background: url("../images/logo-goly-z-ligy.png") no-repeat; height: 65px; width: 65px;} 

.icon-logo-isport {background: url("../images/logo-isport.png") no-repeat; height: 65px; width: 65px;} 

.icon-logo-iihf {background: url("../images/logo-iihf.png") no-repeat; height: 71px; width: 51px;} 

.icon-logo-laliga {background: url("../images/logo-laliga.png") no-repeat; height: 55px; width: 55px;} 

.icon-logo-liga-zive {background: url("../images/logo-liga-zive.png") no-repeat; height: 65px; width: 65px;} 

.icon-logo-ms-2017 {background: url("../images/logo-ms-2017.png") no-repeat; height: 75px; width: 51px;} 

.icon-logo-pl-small {background: url("../images/logo-pl-small.png") no-repeat; height: 55px; width: 40px;} 

.icon-logo-podcasty-65x65 {background: url("../images/logo-podcasty-65x65.png") no-repeat; height: 65px; width: 65px;} 

.icon-logo-premierleague {background: url("../images/logo-premierleague.png") no-repeat; height: 71px; width: 71px;} 

.icon-logo-sazka-fantasy {background: url("../images/logo-sazka-fantasy.png") no-repeat; height: 57px; width: 133px;} 

.icon-logo-synotliga {background: url("../images/logo-synotliga.png") no-repeat; height: 71px; width: 76px;} 

.icon-logo-tym-snu {background: url("../images/logo-tym-snu.png") no-repeat; height: 85px; width: 80px;} 

.icon-logo-uefa {background: url("../images/logo-uefa.png") no-repeat; height: 80px; width: 66px;} 

.icon-medail-green {background: url("../images/medail-green.png") no-repeat; height: 22px; width: 18px;} 

.icon-nissan-promo {background: url("../images/nissan-promo.png") no-repeat; height: 28px; width: 152px;} 

.icon-synottip {background: url("../images/synottip.png") no-repeat; height: 28px; width: 95px;} 

.icon-vertikala-banik-mala {background: url("../images/vertikala-banik-mala.png") no-repeat; height: 28px; width: 28px;} 

.icon-vertikala-bg-slavia {background: url("../images/vertikala-bg-slavia.png") no-repeat; height: 310px; width: 360px;} 

.icon-vertikala-bg-sparta {background: url("../images/vertikala-bg-sparta.png") no-repeat; height: 310px; width: 360px;} 

.icon-vertikala-logo-banik {background: url("../images/vertikala-logo-banik.png") no-repeat; height: 182px; width: 182px;} 

.icon-vertikala-logo-prestupy {background: url("../images/vertikala-logo-prestupy.png") no-repeat; height: 28px; width: 28px;} 

.icon-vertikala-logo-slavia {background: url("../images/vertikala-logo-slavia.png") no-repeat; height: 182px; width: 182px;} 

.icon-vertikala-logo-sparta {background: url("../images/vertikala-logo-sparta.png") no-repeat; height: 182px; width: 182px;} 

.icon-vertikala-plzen-mala {background: url("../images/vertikala-plzen-mala.png") no-repeat; height: 28px; width: 28px;} 

.icon-vertikala-slavia-mala {background: url("../images/vertikala-slavia-mala.png") no-repeat; height: 28px; width: 28px;} 

.icon-vertikala-sparta-mala {background: url("../images/vertikala-sparta-mala.png") no-repeat; height: 28px; width: 28px;} 

.icon-bag {background: url("../images/bag.png") no-repeat; height: 318px; width: 219px;} 

.icon-btn-more-info {background: url("../images/btn-more-info.png") no-repeat; height: 60px; width: 170px;} 

.icon-btn-register {background: url("../images/btn-register.png") no-repeat; height: 90px; width: 288px;} 

.icon-favicon-32x32 {background: url("../images/favicon-32x32_1.png") no-repeat; height: 32px; width: 32px;} 

.icon-favicon-96x96 {background: url("../images/favicon-96x96.png") no-repeat; height: 96px; width: 96px;} 

.icon-header-columbia-logo {background: url("../images/header-columbia-logo.png") no-repeat; height: 170px; width: 600px;} 

.icon-header-isport-logo {background: url("../images/header-isport-logo.png") no-repeat; height: 137px; width: 416px;} 

.icon-header_bg {background: url("../images/header_bg.jpg") no-repeat; height: 734px; width: 700px;} 

.icon-icon-arrow {background: url("../images/icon-arrow.PNG") no-repeat; height: 15px; width: 14px;} 

.icon-icon-facebook {background: url("../images/icon-facebook.png") no-repeat; height: 25px; width: 25px;} 

.icon-icon-instagram {background: url("../images/icon-instagram.png") no-repeat; height: 25px; width: 25px;} 

.icon-icon-isport {background: url("../images/icon-isport.png") no-repeat; height: 16px; width: 50px;} 

.icon-favicon-16x16 {background: url("../images/favicon-16x16_1.png") no-repeat; height: 16px; width: 16px;} 

.icon-medal {background: url("../images/medal.png") no-repeat; height: 225px; width: 200px;} 

.icon-shirt-bottom {background: url("../images/shirt-bottom.png") no-repeat; height: 51px; width: 255px;} 

.icon-shirt-middle {background: url("../images/shirt-middle.png") no-repeat; height: 20px; width: 255px;} 

.icon-shirt-top {background: url("../images/shirt-top.png") no-repeat; height: 219px; width: 255px;} 

.icon-superlife-logo {background: url("../images/superlife-logo.png") no-repeat; height: 84px; width: 250px;} 

.icon-superlife-logo-footer {background: url("../images/superlife-logo-footer.png") no-repeat; height: 44px; width: 131px;} 

.icon-footer-logo {background: url("../images/footer-logo.gif") no-repeat; height: 90px; width: 211px;} 

.icon-footer-logo2 {background: url("../images/footer-logo2.gif") no-repeat; height: 90px; width: 151px;} 

.icon-headline {background: url("../images/headline.jpg") no-repeat; height: 50px; width: 596px;} 

.icon-het-small {background: url("../images/het-small.png") no-repeat; height: 129px; width: 234px;} 

.icon-het {background: url("../images/het.jpg") no-repeat; height: 138px; width: 251px;} 

.icon-ico-play {background: url("../images/ico-play.png") no-repeat; height: 20px; width: 20px;} 

.icon-logo {background: url("../images/logo.gif") no-repeat; height: 85px; width: 252px;} 

.icon-logo2-button {background: url("../images/logo2-button.png") no-repeat; height: 43px; width: 252px;} 

.icon-logo2 {background: url("../images/logo2.gif") no-repeat; height: 51px; width: 252px;} 

.icon-logo2 {background: url("../images/logo2.png") no-repeat; height: 51px; width: 252px;} 

.icon-quote {background: url("../images/quote.png") no-repeat; height: 58px; width: 333px;} 

.icon-sign {background: url("../images/sign.png") no-repeat; height: 55px; width: 215px;} 

.icon-tomek {background: url("../images/tomek.png") no-repeat; height: 159px; width: 98px;} 

.icon-transparent {background: url("../images/transparent.gif") no-repeat; height: 1px; width: 1px;} 

.icon-coffee {background: url("../images/coffee.jpg") no-repeat; height: 186px; width: 581px;} 

.icon-coffee-coin {background: url("../images/coffee-coin.jpg") no-repeat; height: 189px; width: 581px;} 